*{
    margin: 0;
    padding: 0;
}

#corpo{
    width: 100%;
}

#titulo{
    display: table;
    margin: 0 auto;
    padding: 10px;
}

#listaPokemons{
    display: table;
    margin: 0 auto;
    width:50%;
}

#botoesPaginacao{
    display: table;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 20px;
}

.areaBusca{ 
    display: table;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 20px;
}

.retornoBusca{
    display: table;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    width: 50%;
}


.pokemon{
    width: 100%;
    border: 3px solid #E0E0E0;
    border-radius: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 3px;
    padding-left:10px ;
    margin: 5px;
    font-size: 20px;
    color:rgba(12, 11, 11, 0.562) ;
}

.pokeInfo{
    padding: 30px;
}
.pokeSprite{
    float: left;
    padding-right: 50px;
}

.botaoPaginacao{
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 10px;
    text-decoration: none;
    background: #F2B90F;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius:015px;
    color:#403404 ;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-family: sans-serif;
  }

  
.imputBusca{
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    font-family: sans-serif;
    height: 28px;
    font-size: 18px;
    padding: 5px;
}